---
import Layout from '../../../layouts/PageLayout.astro';
import {Icon} from "astro-icon/components";

import Hero from '../../../components/widgets/Hero.astro';
import CallToAction from '../../../components/widgets/CallToAction.astro';

import Features2 from '../../../components/widgets/Features2.astro';
import Stats from '../../../components/widgets/Stats.astro';
import Features3 from '../../../components/widgets/Features3.astro';
import FAQs from '../../../components/widgets/FAQs.astro';

const metadata = {
  title: 'Startup Landing Page',
};

import {getSession} from 'auth-astro/server';
import MiddleDisplayLayout from "../../../layouts/MiddleDisplayLayout.astro";
import Favicons from "../../../components/Favicons.astro";
import Button from "../../../components/ui/Button.astro";

let session = await getSession(Astro.request)
if (!session) return Astro.redirect("/");

---

<Layout metadata={metadata}>
  <MiddleDisplayLayout>

    <h2 class="font-bold leading-tighter tracking-tighter font-heading text-heading text-3xl md:text-4xl">Manage Reports</h2>
    <div class="flex justify-end">
      <Button icon="tabler:plus" variant="primary" link="/add" class="mt-4" href="reports/selector">Add Report</Button>
    </div>

    
  </MiddleDisplayLayout>
</Layout>
