---
import Layout from '../../../layouts/PageLayout.astro';
import {Icon} from "astro-icon/components";

const metadata = {
  title: 'Report Selection',
};

import {getSession} from 'auth-astro/server';
import MiddleDisplayLayout from "../../../layouts/MiddleDisplayLayout.astro";
import Favicons from "../../../components/Favicons.astro";
import {navigate} from "astro/dist/transitions/router";

let session = await getSession(Astro.request)
if (!session) return Astro.redirect("/");

---

<Layout metadata={metadata}>
  <MiddleDisplayLayout>

    <div class="flex align-middle justify-center flex-col">
      <div class="w-100">
        <h1 class="text-3xl font-bold text-gray-900 dark:text-white">Report Selection</h1>
        <p class="mt-4 text-gray-600 dark:text-gray-400">Select among report types</p>
      </div>
      <div class="w-100 m-20">
        <div class="w-100 text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
          <button onclick="navigate('nutrition')" type="button"  class="relative inline-flex items-center w-full px-4 py-3 text-lg font-medium border-b border-gray-200 rounded-t-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
            <Icon name="tabler:salad" class="w-6 h-6 ml-0.5 rtl:ml-0 rtl:mr-0.5 hidden md:inline text-primary m-3"/>
            Nutrition
          </button>
          <button type="button" onclick="navigate('pharmacogenomics')" class="relative inline-flex items-center w-full px-4 py-3 text-lg font-medium border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
            <Icon name="tabler:prescription" class="w-6 h-6 ml-0.5 rtl:ml-0 rtl:mr-0.5 hidden md:inline text-primary m-3"/>
            Pharmacogenomics
          </button>
        </div>
      </div>
    </div>


  </MiddleDisplayLayout>
</Layout>
<script is:inline>
  function navigate(path) {
    window.location.href = '/admin/reports/list/' + path;
  }

</script>
