---
import Layout from '~/layouts/PageLayout.astro';
import MiddleDisplayLayout from '~/layouts/MiddleDisplayLayout.astro';
const metadata = {
  title: 'Introduce Resource File',
};
---
<Layout metadata={metadata}>
  <MiddleDisplayLayout>
    <p>Resource files are a way to store data in a structured way. They are used to store data that is not code, but is used by the code. This can be anything from configuration data to translations to images. Resource files are a way to store data in a structured way. They are used to store data that is not code, but is used by the code. This can be anything from configuration data to translations to images.</p>
    <p>Resource files are a way to store data in a structured way. They are used to store data that is not code, but is used by the code. This can be anything from configuration data to translations to images. Resource files are a way to store data in a structured way. They are used to store data that is not code, but is used by the code. This can be anything from configuration data to translations to images.</p>
  </MiddleDisplayLayout>
</Layout>
